﻿@model IEnumerable<LolAssistant.Models.Entities.Champion>

@{
    ViewBag.Title = "ExampleView";
}

<h2>ExampleView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LolChampionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graphic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LolChampionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graphic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChampionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChampionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChampionId })
        </td>
    </tr>
}

</table>
