﻿@{
    <style>
        .input {
            padding-right: 0;  
            padding-left: 0;
        }
    </style>
    ViewBag.Title = "Your League of Legends assistant";

}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="form-inline col-lg-offset-4">
    <div class="col-lg-3 input text-center">
        <input type="text" class="form-control input" id="NicknameText" placeholder="Write your nickname" />
    </div>
    <div class="col-lg-2 input">
        @Html.DropDownList("Server", new SelectList(Enum.GetValues(typeof(LolAssistant.Models.Servers))), "Select server", new { @class = "form-control input", @id = "ServerDropBoxList" })
    </div>
    <div class="col-lg-1 input">
        <button class="form-control btn-success input" id="CheckBtn">Check</button>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script type="text/javascript">
    $(document).ready(function () {

    })
    $("#CheckBtn").click(function () {
        var name = $("#NicknameText").val();
        var server = $("#ServerDropBoxList").val();
        var data = { name: name, server: server };
        window.location.href = "Home/CheckNickName?name=" + name + "&server=" + server;
    })
</script>