﻿@model IEnumerable<LolAssistant.Models.ViewModels.MasteryVM>
@{
    LolAssistant.Models.Entities.Mastery mas;
}

<style>
    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
        height: 100%;
        min-height: 100%;
    }

    .img {
        height: 32px;
        width: 32px;
    }

    .image {
        position: relative;
        width: 100%; /* for IE 6 */
    }
    .txt {
        color:aliceblue;
    }
</style>

<table class="table table-borderless">
    <tbody>
        @for (int i = 0; i < 6; i++)
        {
            <tr>
                @for (int j = 0; j < 9; j++)
                {
                    mas = LolAssistant.Models.Other.MasteriesDescribing.GetMasteryByPosition((LolAssistant.Models.MasteryTree)(j / 3), (j % 3), i);
                    if (mas != null)
                    {
                        if (LolAssistant.Models.Other.MasteriesDescribing.IsMasteriesListContainMastary(Model, mas))
                        {
                            <td align="center">

                                <div class="image">
                                    <img class="img" src="@LolAssistant.Models.Other.ImageFinder.GetMasteryImageUrl(mas)"  data-toggle="tooltip" title="@mas.Profit"/>
                                    <p class="text-center txt">@LolAssistant.Models.Other.MasteriesDescribing.GetMasteryCount(mas, Model)</p>
                                </div>

                            </td>
                        }
                        else
                        {
                            <td align="center">
                                <img class="img" src="@LolAssistant.Models.Other.ImageFinder.GetGreyMasteryImageUrl(mas)" data-toggle="tooltip" title="@mas.Profit"/>
                            </td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
