﻿@model LolAssistant.Models.ViewModels.MatchVM
@{ Html.Hidden("Index", 0);
    Html.Hidden("Team", 0); }
<style>
    .champion-image {
        height: 48px;
        width: 48px;
        border: solid;
        border-width: 2px;
        border-color: black;
    }

    .spell-image {
        height: 24px;
        width: 24px;
    }

    .floating-left {
        float: left;
    }

    .text-div {
        height: 100%;
        width: 100%;
        position: relative;
        clear: inherit;
    }

    .text-vertical-center {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        clear: inherit;
    }

    #masteries-dialog-window {
        background-image: url("http://ddragon.leagueoflegends.com/cdn/img/mastery/masteryback.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .isItYouText {
        font-weight: bolder;
        color: darkblue;
    }

    .isItYouRow {
        background-color: burlywood;
    }
</style>
@{
    ViewBag.Title = "MatchFound";
}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<table class="table-responsive table">
    <tr>
        <th class="col-lg-8">@Model.Team1.TeamSite.ToString()</th>
        <th class="col-lg-2">
            Runes
        </th>
        <th class="col-lg-2">
            Masteries
        </th>
    </tr>
    @foreach (var item in Model.Team1.Summoners)
    {
        if (item.IsItYou)
        {
            <tr class="isItYouRow">
                <td>
                    <div class="row">
                        <div class="floating-left">
                            <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item.Champion) " class="champion-image" />
                        </div>

                        <div class="floating-left">
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell1) " class="spell-image" /></div>
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell2) " class="spell-image" /></div>
                        </div>
                        <label class="text-center isItYouText"> @Html.DisplayFor(modelItem => item.Name)</label>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToChampionGg(item.Champion.Name)">C</a>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToOpGg(item.Name, Model.server)">O</a>
                    </div>
                </td>
                <td>
                    <a href="##" data-toggle="tooltip" title="@LolAssistant.Models.Other.RunesDescribing.RunesDescription(item.Runes.ToList())">Runes</a>
                </td>
                <td>
                    <a href="##" class="MasteriesLink">@LolAssistant.Models.Other.MasteriesDescribing.GetMasteriesDescribing(item.Masteries)</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="floating-left">
                            <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item.Champion) " class="champion-image" />
                        </div>

                        <div class="floating-left">
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell1) " class="spell-image" /></div>
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell2) " class="spell-image" /></div>
                        </div>
                        <label class="text-center"> @Html.DisplayFor(modelItem => item.Name)</label>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToChampionGg(item.Champion.Name)">C</a>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToOpGg(item.Name, Model.server)">O</a>
                    </div>
                </td>
                <td>
                    <a href="##" data-toggle="tooltip" title="@LolAssistant.Models.Other.RunesDescribing.RunesDescription(item.Runes.ToList())">Runes</a>
                </td>
                <td>
                    <a href="##" class="MasteriesLink">@LolAssistant.Models.Other.MasteriesDescribing.GetMasteriesDescribing(item.Masteries)</a>
                </td>
            </tr>
        }

    }
</table>
<table class="table table-responsive">
    <tr>
        <h5>BANS</h5>
    </tr>
    <tr>
        @foreach (var item in Model.Team1.Bans)
        {
            <td class="col-lg-1">
                <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item)" alt="@item.Name" class="champion-image" />
            </td>
        }
    </tr>
</table>
<br />
<br />
<table class="table-responsive table">
    <tr>
        <th class="col-lg-8">@Model.Team2.TeamSite.ToString()</th>
        <th class="col-lg-2">
            Runes
        </th>
        <th class="col-lg-2">
            Masteries
        </th>
    </tr>
    @foreach (var item in Model.Team2.Summoners)
    {
        if (item.IsItYou)
        {
            <tr class="isItYouRow">
                <td>
                    <div class="row">
                        <div class="floating-left">
                            <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item.Champion) " class="champion-image" />
                        </div>

                        <div class="floating-left">
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell1) " class="spell-image" /></div>
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell2) " class="spell-image" /></div>
                        </div>
                        <label class="text-center isItYouText"> @Html.DisplayFor(modelItem => item.Name)</label>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToChampionGg(item.Champion.Name)">C</a>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToOpGg(item.Name, Model.server)">O</a>
                    </div>
                </td>
                <td>
                    <a href="##" data-toggle="tooltip" title="@LolAssistant.Models.Other.RunesDescribing.RunesDescription(item.Runes.ToList())">Runes</a>
                </td>
                <td>
                    <a href="##" class="MasteriesLink">@LolAssistant.Models.Other.MasteriesDescribing.GetMasteriesDescribing(item.Masteries)</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="floating-left">
                            <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item.Champion) " class="champion-image" />
                        </div>

                        <div class="floating-left">
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell1) " class="spell-image" /></div>
                            <div><img src="@LolAssistant.Models.Other.ImageFinder.GetSummonerSpellImageUrl(item.SumSpell2) " class="spell-image" /></div>
                        </div>
                        <label class="text-center"> @Html.DisplayFor(modelItem => item.Name)</label>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToChampionGg(item.Champion.Name)">C</a>
                        <a href="@LolAssistant.Models.Other.LinkFinder.getLinkToOpGg(item.Name, Model.server)">O</a>
                    </div>
                </td>
                <td>
                    <a href="##" data-toggle="tooltip" title="@LolAssistant.Models.Other.RunesDescribing.RunesDescription(item.Runes.ToList())">Runes</a>
                </td>
                <td>
                    <a href="##" class="MasteriesLink">@LolAssistant.Models.Other.MasteriesDescribing.GetMasteriesDescribing(item.Masteries)</a>
                </td>
            </tr>
        }

    }
    

</table>
<table class="table table-responsive">
    <tr>
        <h5>BANS</h5>
    </tr>
    <tr>
        @foreach (var item in Model.Team2.Bans)
        {
            <td class="col-lg-1">
                <img src="@LolAssistant.Models.Other.ImageFinder.GetChampionImageUrl(item)" alt="@item.Name" class="champion-image" />
            </td>
        }
    </tr>
</table>

<table class="table table-responsive">
    <tr>
        <h5>TIPS</h5>
    </tr>
@foreach (var item in Model.tips)
{
    switch (item.tipPositiveness)
    {
        case LolAssistant.Models.TipPositiveness.Positive:
            <tr style="background-color: greenyellow">
                <td class="col">
                    @item.description;
                </td>
            </tr>
            break;
        case LolAssistant.Models.TipPositiveness.Neutral:
            <tr>
                <td class="col">
                    @item.description;
                </td>
            </tr>
            break;
        case LolAssistant.Models.TipPositiveness.Negative:
            <tr style="background-color: orangered">
                <td class="col">
                    @item.description;
                </td>
            </tr>
            break;
        default:
            break;
    }

}
</table>
<div id="masteries-dialog-window" title="Masteries">

</div>
<script type="text/javascript">
    $(function () {
        $("#masteries-dialog-window").dialog({
            autoOpen: false,
            width: 800,
            height: 600,
            resizable: false
        });
    })
    $(".MasteriesLink").click(function () {
        $(this).index(".MasteriesLink")
        var index = $(this).index(".MasteriesLink") % 5;
        var team = $(this).index(".MasteriesLink") < 5 ? 1 : 2;
        var JSONString = '@Html.Raw(Json.Encode(Model))';
        var JSONModel = JSON.parse(JSONString);
        var TeamJSON = team == 1 ? JSONModel.Team1 : JSONModel.Team2;
        //alert(TeamJSON);
        var SummonerJSON = TeamJSON.Summoners[index];
        //alert(SummonerJSON);
        var masteries = SummonerJSON.Masteries;
        var MasteriesId = [];
        var MasteriesCount = [];
        masteries.forEach(function (item, index) {
            //alert(item.mastery.LolMasteryId);
            MasteriesId.push(item.mastery.LolMasteryId);
            MasteriesCount.push(item.count);
        })
        var MasteriesJSON = JSON.stringify(MasteriesId);
        var MasteriesData = JSON.parse(MasteriesJSON);
        var Data = { MasteriesId: MasteriesData, MasteriesCount: MasteriesCount, teamSite: team, player: index };
        alert(JSON.stringify(Data));
        $.ajax({
            url: '/Home/MasteriesWindow',
            data: Data,
            traditional: true,
            method: "GET",
            success: function (data) {
                $('#masteries-dialog-window').html(data);
            },
            error: function () {
                alert("error");
            }
        });
        $("#masteries-dialog-window").dialog('open');

    })

</script>